
# Exclude typescript source and config
*.ts
tsconfig.json
*.tsbuildinfo

# Include javascript files and typescript declarations
!*.js
!*.d.ts

# Exclude jsii outdir
targets

# Include .jsii and .jsii.gz
!.jsii
!.jsii.gz
